.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8F5c2c;
    text-decoration: none;
    width: 100%;
    display: block;
}


.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        box-sizing: border-box;
        display: block;
        width: auto;
    }

    .NavigationItem a {
        color: #8F5c2c;
        text-decoration: none;
        width: 100%;
        display: block;
    }

}
